//
// Created by Ajay Quirk on 31/03/2025.
//

#ifndef ARDUINO_SECRETS_H
#define ARDUINO_SECRETS_H

#define SECRET_OPTIONAL_APN "m2m"
#define SECRET_DROPBOX_APP_KEY ""
#define SECRET_DROPBOX_APP_SECRET ""

#endif //ARDUINO_SECRETS_H